<%= link_to(new_team_path, :title => 'Create a New Team') do %><div class="newBtn"><i class="icon-new"></i>Add Team</div><% end %>
<h1><%=((can? :manage, :all)?"All":"Your") %> Teams</h1>

<table class="object-list">
  <tr>
    <th>Team name</th>
    <th>Event</th>
    <th>Team goal</th>
    <th>Team details</th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.team_name %></td>
    <td><%= team.event.event_name %></td>
    <td><%= number_to_currency(team.team_goal) %></td>
    <td><%= truncate(team.team_details, :length => 40, :separator => ' ', :omission => '... (continued)') %></td>
    <td>
      <div class="iconHolder">
      	<%= link_to(team, :title => 'View Team') do %><i class="icon-show"></i><% end %>
      	<% if (can? :manage, :all) %>
        <%= link_to(edit_team_path(team), :title => 'Update Team') do %><i class="icon-update"></i><% end %>
        <%= link_to(team, confirm: 'Are you sure?', method: :delete, :title => 'Delete Team') do %><i class="icon-delete"></i><% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Team', new_team_path %>
