<p id="notice"><%= notice %></p>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @team.team_name %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_team_path(@team), :title => 'Update Team') do %><i class="icon-update"></i><% end %><%end%>
  		<%= link_to(teams_path, :title => 'All Teams') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>Team details:</b>
  <%= @team.team_details %>
</p>

<p>
  <b>Team goal:</b>
  <%= number_to_currency(@team.team_goal) %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @team.event.event_name, @team.event, :title => 'View the ' + @team.event.event_name + ' profile' %>
</p>
<p><b>Participants</b><br/>
	<ul>
	<% @team.users.each do |u| %>
	  <li><%= link_to u.fullname, u%></li>
	<% end %>
	</ul>
</p>


<%#= link_to 'Edit', edit_team_path(@team) %>
<%#= link_to 'Back', teams_path %>
