<!--a href="#"><div class="newBtn"><i class="icon-new"></i>Add User</div></a-->
<% if (can? :manage, :all) %>
<%= link_to(new_user_path, :title => 'Create a new user') do %><div class="newBtn"><i class="icon-new"></i>Add User</div><% end %>
<% end %>
<h1>Listing users</h1>

<table class="object-list">
  <tr>
  	<th style="width:.5em"></th>
    <th>Username</th>
    <th>Role</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Team(s)</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="no-padding">
  	<td style="text-align:right;"><%= (user==current_user)?"*":""%></td>
    <td><%= user.username %></td>
    <td>
      <ul style="margin:0px .8em;">
        <% user.roles.each do |role| %>
        <li><%= role.name %></li>    		
        <% end %>
      </ul>
    </td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= mail_to user.email %></td>
    <td><center><%= user.teams.count%></center></td>
    <td>
      <div class="iconHolder">
      	<%= link_to(user, :title => 'View User') do %><i class="icon-show"></i><% end %>
      	<% if (can? :manage, :all) %>
        <%= link_to(edit_user_path(user), :title => 'Update User') do %><i class="icon-update"></i><% end %>
        <%= link_to(user, confirm: 'Are you sure?', method: :delete, :title => 'Delete User') do %><i class="icon-delete"></i><% end %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr><td class="object-list-subitem" colspan="7"><p>token: <%= user.single_access_token%></p></td></tr>
<% end %>
</table>

<%#= link_to 'New User', new_user_path %>
