<!--p id="notice"><%= notice %></p-->
<div class="right subitem">Token: <%=@user.single_access_token%></div>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @user.fullname %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<%= link_to(edit_user_path(@user), :title => 'Update User') do %><i class="icon-update"></i><% end %>
  		<%= link_to(users_path, :title => 'All Users') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p class="no-margin"><b>Roles:</b></p>
<ul class="no-margin">
  <% for role in @user.roles %>
    <li><%= role.name %></li>
  <% end %>
</ul>



<p>
  <b>Email:</b>
  <%= mail_to @user.email %>
</p>

<p>
  <b>Team:</b>
  <% @user.teams.each do |c| %>
    <li><%= link_to c.team_name, c %></li>
  <%end %>
</p>

<p>
  <b>Events:</b>
  <% for event in @user.events.find(:all) %>
    <li style="margin-left:1em;"><%= link_to event.event_name, event %> <small>(<%= event.date_range %>)</small></li>
  <% end %>
</p>




<%#= link_to 'Edit', edit_user_path(@user) %>
<%#= link_to 'Back', users_path %>
