<%= link_to(new_registration_path, :title => 'Create a New Registration') do %><div class="newBtn"><i class="icon-new"></i>Add Registration</div><% end %>
<h1><%=((can? :manage, :all)?"All":"Your") %> Event Registrations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Event</th>
    <th>Personal goal</th>
    <th></th>
  </tr>


<% str = (can? :manage, :all)?'@registrations':'@userRegistrations' %>
<% eval(str).each do |registration| %>
  <tr>
    <td><%= registration.user.fullname %></td>
    <td><%= registration.event.event_name %></td>
    <td><%= registration.personal_goal %> miles</td>
    <td>
      <div class="iconHolder">
      	<%= link_to(registration, :title => 'View Registration') do %><i class="icon-show"></i><% end %>
        <%= link_to(edit_registration_path(registration), :title => 'Update Registration') do %><i class="icon-update"></i><% end %>
        <%= link_to(registration, confirm: 'Are you sure?', method: :delete, :title => 'Delete Registration') do %><i class="icon-delete"></i><% end %>
      </div></td>
  </tr>
<% end %>
</table>

<br />
