<!--p id="notice"><%= notice %></p-->
<div class="page-title-holder">
  <div class="page-title"><h1>Registration</h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_registration_path(@registration), :title => 'Update Registrations') do %><i class="icon-update"></i><% end %><% end %>
  		<%= link_to(registrations_path, :title => 'All Registrations') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>User:</b>
  <%= !(@registration.user.nil?) ? @registration.user.fullname : raw("<em>User name not set.</em>") %>
</p>

<p>
  <b>Event:</b>
  <%= @registration.event.event_name %>
</p>

<p>
  <b>Personal goal:</b>
  <%= number_to_currency(@registration.personal_goal) %>
</p>



