<!--p id="notice"><%= notice %></p-->
<div class="page-title-holder">
  <div class="page-title"><h1><%= @registration.event.event_name %> Registration</h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_registration_path(@registration), :title => 'Update Registrations') do %><i class="icon-update"></i><% end %><% end %>
  		<%= link_to(registrations_path, :title => 'All Registrations') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<div id="iphone_meter" style="position:relative; width:112px; height:223px; float:right; margin:0 0 1.5em 2em;">
	<div style="width:100px; height:211px; border:1px solid #677; border-radius: 10px; background-color:#fff; position:absolute; left:0; top:0; z-index:1; overflow:hidden; box-shadow: 1px 3px 8px #999;">
		<div class="money_fade" style="width:100px; height:245px; border-radius: 0px; position:absolute; left:0px; top:<%= 211 - (211*@act_totals/@registration.personal_goal) %>px; z-index:2;"></div>
	
	<div style="width:84px; height:145px; border-radius: 0px; background-color:#AAA; position:absolute; left:8px; top:35px; z-index:4; opacity:0.88; filter:alpha(opacity=88); /* For IE8 and earlier */">
		<p style="text-align:center; vertical-align:middle; font-size:23px; font-weight:bold; line-height:145px; margin:0; padding:0;"><%= number_to_percentage((100*@act_totals/@registration.personal_goal), :precision => 0) %> </p>
	</div>
	<div style="width:20px; height:20px; border-radius: 10px; background-color:#777; position:absolute; left:40px; top:185px; z-index:4; box-shadow: 0px 0px 8px 1px #fff inset; border: 1px solid #999; opacity:0.5; filter:alpha(opacity=50);"></div>
	<div style="width:26px; height:3px; border-radius: 20%%; background-color:#000; position:absolute; left:37px; top:15px; z-index:4;"></div>
	</div>
</div>

<p>
  <b>User:</b>
  <%= !(@registration.user.nil?) ? @registration.user.fullname : raw("<em>User name not set.</em>") %>
</p>

<p>
  <b>Event:</b>
  <%= @registration.event.event_name %>
</p>

<p>
  <b>Personal goal:</b>
  <%= @act_totals %> / <%= @registration.personal_goal %> miles
</p>

<p><b>Activities</b></p>
<ul>
	<% @activities.each do |act| %>
	<li><%= act.distance %> miles <small>(<%= act.activity_date.strftime("%m/%d/%Y -  %I:%M  %p") %>)</small></li>
	<%end%>
</ul>


