<% if (can? :manage, :all)%>
<%= link_to(new_event_path, :title => 'Create a New Event') do %><div class="newBtn"><i class="icon-new"></i>Add Event</div><% end %>
<% end %>
<h1>Events</h1>
<% unless (can? :manage, :all)%>
<% @events.each do |event| %>
  	<%
  	  @reg_status = ""
  	  if(@registrations)
	  	  if (event.end_date < Date.current().to_time())
	  	  	@reg_status = "Expired"
	  	  else
	  	  	@reg_status = (@registrations.include?(event)?'Registered':'Available')
	  	  end
	  end
  	%>
<div class="eventDiv">
	<div class="eventHeader">
		<div class="eventTitle"><h3><%= link_to event.event_name, event, :class=>"bareLink" %></h3><small class="eventDate">(<%= event.date_range %>)</small></div>
		<% if current_user %>
		<div class="eventRegHolder">
			<% if ((@reg_status=="Expired") || (@reg_status=="Registered"))%>
			  <p class="no-margin btn-mini reg<%= @reg_status%>"><%= @reg_status.titleize()%></p>
			<% else %>
			  <a class="btn btn-mini btn-info"  href="<%= new_registration_path+"?id="+event.id.to_s %>">Register</a>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="eventContent">
		<p class="no-margin right eventSponsor">Sponsored by <%= link_to event.sponsor.name, event.sponsor %></p>
		<p class="no-margin eventGoal">Goal: <%= number_with_delimiter(event.goal, :delimiter => ',') %> miles</p>
		<p class="eventDescription quarter-top"><%= truncate(event.details, :length => 300, :separator => ' ', :omission => '... (continued)') %></p>
	</div>
</div>
<% end %>

<% else %>

<table class="object-list">
  <tr>
  	<th></th>
    <th>Dates</th>
    <th>Goal</th>
    <th>Details</th>
    <th>Sponsor</th>
    <% if current_user %><th></th><% end %>

  </tr>

<% @events.each do |event| %>
  <tr>
    <td colspan="7" class="event-Title">
    	<div style="float:left;"><h3><%= event.event_name %></h3></div>
    	<div style="float:left; overflow:visible;">
    		<% if (!(event.logo.nil?) && (event.logo!=''))%>
  		      <center><%= image_tag(event.logo, :class => 'small-img') %></center>
  		    <% end %>
    	</div>
    	<div style="float:right; vertical-align: bottom;">(<%= event.agency.name %>)</div>
    	
    </td>
  </tr>
  <tr>
  	<%
  	  @reg_icon = ""
  	  if (event.end_date < Date.current().to_time())
  	  	@reg_icon = "icon-lock"
  	  else
  	  	@reg_icon = (@registrations.include?(event)?'icon-checked':'icon-none')
  	  end
  	%>
  	<% if (current_user) %><td width="15" style="padding:0;">
  		
  		<div class="registerCheck <%= @reg_icon %>" regLink="<%= (@registrations.include?(event)?'#':""+new_registration_path+"?id="+event.id.to_s)  %>" />
  	    
  			
  	</td><% end %>
    <td><%= event.date_range %></td>
    <td><%= number_to_currency(event.goal) %></td>
    <td><%= truncate(event.details, :length => 40, :separator => ' ', :omission => '... (continued)') %></td>
    <td><%= event.sponsor.name %></td>
    
    <td>
      <div class="iconHolder left">
      	<%= link_to(event, :title => 'View Event') do %><i class="icon-show"></i><% end %>
      	<% if (can? :manage, :all) %>
        <%= link_to(edit_event_path(event), :title => 'Update Event') do %><i class="icon-update"></i><% end %>
        <%= link_to(event, confirm: 'Are you sure?', method: :delete, :title => 'Delete Event') do %><i class="icon-delete"></i><% end %>
        <% end %>
      </div>
    </td>
    
  </tr>
<% end %>
</table>
<% end %>

<%#= link_to 'New Event', new_event_path %>
