<!--p id="notice"><%= notice %></p-->
<%= image_tag(@event.logo, :class => 'right') %>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @event.event_name %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_event_path(@event), :title => 'Update Events') do %><i class="icon-update"></i><% end %><% end %>
  		<%= link_to(events_path, :title => 'All Events') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>All proceeds benefit:</b>
  <%= link_to @event.agency.name, @event.agency, :title => 'View the ' + @event.agency.name + ' profile' %>
</p>

<p><strong>Dates:</strong> <%= @event.date_range %></p>

<p>
  <b>Goal:</b>
  <%= number_to_currency(@event.goal) %>
</p>

<p>
  <b>Details:</b>
  <%= @event.details %>
</p>

<p>
  <b>Event Sponsor:</b><br />
  <%= link_to(@event.sponsor, :title => 'View the ' + @event.sponsor.name + ' profile') do %>
    <%= image_tag(@event.sponsor.logo, :class => 'small-img left', :style => '')%>
    <%= @event.sponsor.name %>
  <%end%>
</p>

<p><b>Teams:</b><br/>
	<ul>
	<% @event.teams.each do |t| %>
	  <li><%= link_to t.team_name, t%> (<%= t.users.count%>)
	  </li>
	<% end %>
	</ul>
</p>


<%#= link_to 'Edit', edit_event_path(@event) %>
<%#= link_to 'Back', events_path %>
