<!--p id="notice"><%= notice %></p-->
<%= image_tag(@event.logo, :class => 'right', :style => 'max-width:250px; box-shadow: 2px 2px 5px #777;') %>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @event.event_name %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_event_path(@event), :title => 'Update Events') do %><i class="icon-update"></i><% end %><% end %>
  		<%= link_to(events_path, :title => 'All Events') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>All proceeds benefit:</b>
  <%= link_to @event.agency.name, @event.agency, :title => 'View the ' + @event.agency.name + ' profile' %>
</p>

<p><strong>Dates:</strong> <%= @event.date_range %></p>

<p>
  <b>Goal:</b>
  <%= @event.goal %>
</p>

<p>
  <b>Details:</b>
  <%= @event.details %>
</p>

<p>
  <b>Event Sponsor:</b><br />
  <%= link_to(@event.sponsor, :title => 'View the ' + @event.sponsor.name + ' profile') do %>
    <%= image_tag(@event.sponsor.logo, :class => 'small-img left', :style => '')%>
    <%= @event.sponsor.name %>
  <%end%>
</p>

<p><b>Teams:</b><br/>
	<ul>
	<% @event.teams.each do |t| %>
	  <li><%= link_to t.team_name, t%> (<%= t.users.count%>)
	  </li>
	<% end %>
	</ul>
</p>

<p><b>Activities</b></p>
<ul>
	<% @activities.each do |act| %>
	<li><%= act.activity_date %> | <%= act.distance %> miles</li>
	<%end%>
</ul>

<div id="iphone_meter" style="position:relative; width:112px; height:223px; margin:0 0 1.5em 2em;">
	<div style="width:100px; height:211px; border:1px solid #677; border-radius: 10px; background-color:#fff; position:absolute; left:0; top:0; z-index:1; overflow:hidden; box-shadow: 1px 3px 8px #999;">
		<div class="money_fade" style="width:100px; height:245px; border-radius: 0px; position:absolute; left:0px; top:<%= 211 - (211*@act_totals/@event.goal) %>px; z-index:2;"></div>
	
	<div style="width:84px; height:145px; border-radius: 0px; background-color:#AAA; position:absolute; left:8px; top:35px; z-index:4; opacity:0.88; filter:alpha(opacity=88); /* For IE8 and earlier */">
		<p style="text-align:center; vertical-align:middle; font-size:23px; font-weight:bold; line-height:145px; margin:0; padding:0;"><%= number_to_percentage((100*@act_totals/@event.goal), :precision => 0) %> </p>
	</div>
	<div style="width:20px; height:20px; border-radius: 10px; background-color:#777; position:absolute; left:40px; top:185px; z-index:4; box-shadow: 0px 0px 8px 1px #fff inset; border: 1px solid #999; opacity:0.5; filter:alpha(opacity=50);"></div>
	<div style="width:26px; height:3px; border-radius: 20%%; background-color:#000; position:absolute; left:37px; top:15px; z-index:4;"></div>
	</div>
</div>

<%#= link_to 'Edit', edit_event_path(@event) %>
<%#= link_to 'Back', events_path %>
