<%= link_to(new_agency_path, :title => 'Create a New Agency') do %><div class="newBtn"><i class="icon-new"></i>Add Agency</div><% end %>
<h1>Agencies</h1>

<table class="object-list">
  <tr>
    <th>Logo</th>
    <th>Name</th>
    <th>Details</th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><center><%= image_tag(agency.logo, :class => 'small-img') %></center></td>
    <td><%= agency.name %></td>
    <td><%= truncate(agency.details, :length => 25, :separator => ' ', :omission => '... (continued)') %></td>
    <td>
      <div class="iconHolder">
      	<%= link_to(agency, :title => 'View Agency') do %><i class="icon-show"></i><% end %>
        <%= link_to(edit_agency_path(agency), :title => 'Update Agency') do %><i class="icon-update"></i><% end %>
        <%= link_to(agency, confirm: 'Are you sure?', method: :delete, :title => 'Delete Agency') do %><i class="icon-delete"></i><% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>
