<p id="notice"><%= notice %></p>
<%= image_tag(@agency.logo, :class => 'right') %>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @agency.name %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_agency_path(@agency), :title => 'Update Agency') do %><i class="icon-update"></i><% end %><%end%>
  		<%= link_to(agencies_path, :title => 'All Agencies') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
	
  <b>Details:</b>
  <%= @agency.details %>
</p>
<p><b>Held Events</b><br/>
	<ul>
	<% @agency.events.each do |e| %>
	  <li><%= link_to e.event_name, e%></li>
	<% end %>
	</ul>
</p>



<%#= link_to 'Edit', edit_agency_path(@agency) %>
<%#= link_to 'Back', agencies_path %>
