<% if (can? :manage, :all) %>
<%= link_to(new_sponsor_path, :title => 'Create a New Sponsor') do %><div class="newBtn"><i class="icon-new"></i>Add Sponsor</div><% end %>
<% end %>
<h1>Event Sponsors</h1>

<table class="object-list">
  <tr>
    <th>Name</th>
    <th>Logo</th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><center><%= image_tag(sponsor.logo, :class => 'small-img') %></center></td>
    <td><%= sponsor.name %></td>
    <td>
      <div class="iconHolder left">
      	<%= link_to(sponsor, :title => 'View Sponsor') do %><i class="icon-show"></i><% end %>
      	<% if (can? :manage, :all) %>
        <%= link_to(edit_sponsor_path(sponsor), :title => 'Update Sponsor') do %><i class="icon-update"></i><% end %>
        <%= link_to(sponsor, confirm: 'Are you sure?', method: :delete, :title => 'Delete Sponsor') do %><i class="icon-delete"></i><% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Sponsor', new_sponsor_path %>
