<p id="notice"><%= notice %></p>
<div class="page-title-holder">
  <div class="page-title"><h1><%= @role.name %></h1></div>
  <div style="float:left;">
  	<div class="iconHolder">
  		<% if current_user %><%= link_to(edit_role_path(@role), :title => 'Update Role') do %><i class="icon-update"></i><% end %><%end%>
  		<%= link_to(roles_path, :title => 'All Role') do %><i class="icon-list"></i><% end %>
  	</div>
  </div>
</div>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>


<%#= link_to 'Edit', edit_role_path(@role) %>
<%#= link_to 'Back', roles_path %>
