<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :activity_date %><br />
    <%= f.datetime_select :activity_date %>
  </div>
  <div class="field">
    <%= f.label :manual %>: <%= f.check_box :manual %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all.collect, :id, :fullname, :prompt => "Select a user" %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.collection_select :event_id, Event.all.collect, :id, :event_name, :prompt => "Select an event" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
