<%= link_to(new_activity_path, :title => 'Create a New Agency') do %><div class="newBtn"><i class="icon-new"></i>Add Activity</div><% end %>
<h1><%=((can? :manage, :all)?"All":"Your") %> Event Activities</h1>

<table class="object-list">
  <tr>
    <th>Distance</th>
    <th>Activity date</th>
    <th>Manual</th>
    <th>User</th>
    <th>Event</th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.distance %></td>
    <td><%= activity.activity_date %></td>
    <td><%= activity.manual %></td>
    <td><%= !(activity.user.nil?) ? activity.user.fullname : raw("<em>**Not Set**</em>") %></td>
    <td><%= !(activity.event.nil?) ? activity.event.event_name : raw("<em>**Not Set**</em>")%></td>
    <td>
      <div class="iconHolder">
      	<%= link_to(activity, :title => 'View Activity') do %><i class="icon-show"></i><% end %>
        <%= link_to(edit_activity_path(activity), :title => 'Update Activity') do %><i class="icon-update"></i><% end %>
        <%= link_to(activity, confirm: 'Are you sure?', method: :delete, :title => 'Delete Activity') do %><i class="icon-delete"></i><% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<%#= link_to 'New Activity', new_activity_path %>
